* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f4f6f8;
  color: #2c3e50;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
